@page "/toons"
@inject HttpClient Http

<h1>Toon Characters</h1>

@if (toonlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Occupation</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in toonlist)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Occupation</td>
                <td>@item.Gender</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Toon[] toonlist;

    protected override async Task OnInitializedAsync()
    {
        toonlist = await Http.GetFromJsonAsync<Toon[]>("https://api4all.azurewebsites.net/api/people");
    }

    public class Toon
    {
        public int Id { get; set; }
        public string LastName { get; set; }
        public string FirstName { get; set; }
        public string Occupation { get; set; }
        public string Gender { get; set; }
        public string PictureUrl { get; set; }
        public int Votes { get; set; }
    }
}
